<script src="./assets/js/payment-service.js"></script>
<script src="./assets/js/todo-service.js"></script>
<script src="./assets/js/vehicle-service.js"></script>
<script src="./assets/js/comment-service.js"></script>

<style>
    body{
        overflow-x: hidden;
    }
</style>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="total-comments"></div>
                                <div>Total Comments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="/ecarsharing/api/comments">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="total-tasks"></div>
                                <div>Unfinished Tasks!</div>
                            </div>
                        </div>
                    </div>
                    <a href="/ecarsharing/api/todos">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="total-payments"></div>
                                <div>Received Payments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#payments">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-car fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="total-vehicles"></div>
                                <div>Owned Vehicles!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#vehicles">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Revenue
                        
                    </div>
                
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Amount (BAM)</th>
                                            <th>ID</th>
                                        </tr>
                                        </thead>
                                        <tbody id="payment-list">
                                        
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-lg-4 (nested) -->
                            <div class="col-lg-8">
                                <div id="morris-bar-chart"></div>
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i> Todo list

                        <div class="col-md-12 text-right"><button class="btn btn-success btn-sm text-right" data-toggle="modal" data-target="#addTodoModal"><i class="fa fa-plus"></i></button>
                        </div>
                        
                    </div>
                    
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="timeline" id="todo-list">

                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Notifications Panel
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#dashboard" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                            </a>
                            <a href="#dashboard" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                            </a>
                            <a href="#dashboard" class="list-group-item">
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                            </a>
                            <a href="#dashboard" class="list-group-item">
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                            </a>
                            <a href="#dashboard" class="list-group-item">
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                            </a>
                            <a href="#dashboard" class="list-group-item">
                                <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                            </a>
                            <a href="#dashboard" class="list-group-item">
                                <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                            </a>
                            <a href="#dashboard" class="list-group-item">
                                <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                            </a>
                            <a href="#dashboard" class="list-group-item">
                                <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                        <a href="#dashboard" class="btn btn-default btn-block">View All Alerts</a>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                
                <!-- /.panel -->
                <div class="chat-panel panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i>
                        The Anonymous Chat
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                    data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li>
                                    <a href="#dashboard" onclick="document.location.reload(true)">
                                        <i class="fa fa-refresh fa-fw"></i> Refresh
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="chat" id="comment-list">
                           
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                    <div class="panel-footer">
                        <div class="input-group form">
                            <form id="addComment">
                            <div class="col-md-10">
                            <input name="comment" type="text" class="form-control input-sm required" placeholder="Type your message here..."/></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
                                    Send
                                </button>
                            </div>
                            </form> 
                        </div>
                    </div>
                    <!-- /.panel-footer -->
                </div>
                <!-- /.panel .chat-panel -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<!-- MODALS -->
    <!-- PAYMENT -->
<div class="modal fade" id="addPaymentsModal" tabindex="-1" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="addPayment">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Payment</h5>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label>Date</label>
                <input name="date" type="date" class="form-control required">
              </div>
              <div class="form-group">
                <label>Time</label>
                <input name="time" type="time" class="form-control required">
              </div>
              <div class="form-group">
                <label>Amount</label>
                <input name="amount" type="text" class="form-control required"  placeholder="Enter amount in KM">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

    <!-- TODO -->
    <div class="modal" id="todoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false"  >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel"><b>Edit Task</b></h4>
            </div>
            <div class="modal-body">
              <input id="id" type="hidden" />
              <input id="todoTitle" type="text" />
              <input id="todoBody" type="text" />
              <input id="todoIcon" type="text" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary todo-save" onClick="TodoService.update()">Save changes</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="addTodoModal" tabindex="-1" aria-hidden="true" >
        <div class="modal-dialog">
          <div class="modal-content">
            <form id="addTodo">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <label>Task Title</label>
                    <input name="todoTitle" type="text" class="form-control required" placeholder="Enter Task Title">
                  </div>
                  <div class="form-group">
                    <label>Task Body</label>
                    <input name="todoBody" type="text" class="form-control"  placeholder="Enter Task Body">
                  </div>
              </div>
            <div class="form-group container">
                <label>Choose type of task: </label>
                <select name="todoIcon" form="addTodo">
                    <option value="0">New</option>
                    <option value="1">Fix</option>
                    <option value="2">Remove</option>
                    <option value="3">Info</option>
                    <option value="4">Unimportant</option>
                    <option value="5">Other</option>
                </select>
              </div>
            </form>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- END OF MODALS -->


<script>
    VehicleService.init();
    PaymentService.init();
    TodoService.init();
    CommentService.init();
    
    function logger(){
        console.log("logged");
    }

</script>